body {
  background: #ddd;
  background: -moz-linear-gradient(top,white 0%,#E5E5E5 60%,#EAEAEA 85%,white 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(60%,#E5E5E5),color-stop(85%,#EAEAEA),color-stop(100%,white));
  background: -webkit-linear-gradient(top,white 0%,#E5E5E5 60%,#EAEAEA 85%,white 100%);
  background: -o-linear-gradient(top,white 0%,#E5E5E5 60%,#EAEAEA 85%,white 100%);
  background: -ms-linear-gradient(top,white 0%,#E5E5E5 60%,#EAEAEA 85%,white 100%);
  background: linear-gradient(to bottom,white 0%,#E5E5E5 60%,#EAEAEA 85%,white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0 );
  color: black;
  font: normal 1.0em Helvetica,sans-serif;
}

.loading-message {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
  width: 400px;
  height: 250px;
  margin: 10% auto;
  background-color: white;
  border: 1px solid #CCC;
  padding: 1em;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(15, 15, 15, 0.2);
  box-shadow: 0px 3px 15px 0px rgba(15, 15, 15, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 5px;
}

.hint {
  display: none;
}
